[core]
	excludesfile = ~/.gitignore_global
[alias]
	last = log -1 HEAD
[user]
	name = Nick Miller
	email = nick@nmiller.info

[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

