[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/local/bin/nvim
[alias]
    last = log -1 HEAD
    unstage = reset HEAD $*
    stage = add $*
    s = status
    ss = status --short
[user]
    name = Nick Miller
    email = nick@nmiller.info
